.two_column
  .left_column
    %h1
      Work
    %p
      What I do at my day job.
  .right_column
    .item
      %a{:href => "http://cwdemo.videojuicer.com"}
        %img{:src => "/images/burberry.png"}
      .item_content
        %h2
          Burberry Catwalker
        .padding_top
          %p
            Live video streaming with a time cued carousel
            %br
            and commenting functionality
    .item
      %a{:href => "#"}
        %img{:src => "/images/next.png"}
      .item_content
        %h2
          Next Catwalker
        .padding_top
          %p
            Similar concept to burberry, but an 
            %br
            entirely javascript client side application.
    .item
      %a{:href => "#"}
        %img{:src => "/images/videojuicer.png"}
      .item_content
        %h2
          Videojuicer Panel
        .padding_top
          %p
            The Panel Videojuicer's clients
            %br
            use to manage their videos,
            %br
            Built using Merb, jQuery and git 
    .clear
    .item
      %a{:href => 'http://cartifyapp.com'}
        %img{:src => '/images/cartify.png'}
      .item_content
        %h2
          Cartify
        .padding_top
          %p
            Easy to set up hosted shops for small businesses, labels, films etc.
    .item
      %a{:href => 'http://istay.com'}
        %img{:src => '/images/istay.png'}
      .item_content
        %h2
          iStay
        .padding_top
          %p
            Extremely fast and detailed
            %br
            hotel search and price
            %br
            comparison engine.
    .item
      %a{:href => 'http://marketplace.istay.com'}
        %img{:src => '/images/market.png'}
      .item_content
        %h2
          iStay Marketplace
        .padding_top
          %p
            A place for people to meet travellers and rent a room, apartment or space to them.
    .clear
  .clear
.two_column
  .left_column
    %h1
      freelance
    %p
      work done for clients, in my spare time
  .right_column
    .item
      %a{:href => 'http://leowilliams.net'}
        %img{:src => '/images/leo.png'}
      .item_content
        %h2
          Leo Williams 
        .padding_top
          %p
            Choosing a photo for this section is really difficult because he is such a fantastic photographer.
    .item
      %a{:href => 'http://pjwculpepper.com'}
        %img{:src => '/images/pjw.png'}
      .item_content
        %h2
          p.j.w.culpepper
        .padding_top
          %p
            Amazing set designer, she deserved a really good portfolio website, I think she got it...
    .clear
  .clear
.two_column
  .left_column
    %h1
      projects
    %p
      open source/free stuff for fun
  .right_column
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/jQueryBuilder'}
          %h2
            jQuery Builder
        %p
          An attempt to replicate the Builder xml/html markup generation in javascript.
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/jCron'}
          %h2
            jCron
        %p
          Yet another setTimeout plugin, makes it easy to dispatch timed events in the browser
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/paypal_adaptive_gateway'}
          %h2
            Paypal Adaptive
        %p
          ActiveMerchant plugin for the new Paypal adaptive payments api. Easy adaptive payments.
    .item
      %a{:href => 'http://d.ropulo.us'}
        %img{:src => '/images/dropulous.png'}
      .item_content
        %h2
          d.ropulo.us
        %p
          Syncs with the BBC weather,
          %br
          users can get weather forecasts
          %br
          in their calendar client
    .item
      %a{:href => '/files/invisible.app.zip'}
        %img{:src => '/images/invisible.png'}
      .item_content
        %h2
          invisible
        %p
          ever needed to show hidden files in finder?
          %br
          use this simple app to do it (requires rubycocoa).
    .clear
  .clear