.two_column
  .left_column
    %h1
      Work
    %p
      What I do at my day job.
  .right_column
    .item
      %a{:href => 'http://istay.com'}
        %img{:src => '/images/istay.png'}
      .item_content
        %h2
          iStay
        .padding_top
          %p
            Extremely fast and detailed
            %br
            hotel search and price
            %br
            comparison engine.
    .item
      %a{:href => 'http://marketplace.istay.com'}
        %img{:src => '/images/market.png'}
      .item_content
        %h2
          iStay Marketplace
        .padding_top
          %p
            A place for people to meet travellers and rent a room, apartment or space to them.
    .item
      %a{:href => 'http://cartifyapp.com'}
        %img{:src => '/images/blop.png'}
      .item_content
        %h2
          Cartify
        .padding_top
          %p
            Easy to set up hosted shops for small businesses
          
    .clear
  .clear
.two_column
  .left_column
    %h1
      freelance
    %p
      work done for clients, in my spare time
  .right_column
    .item
      %a{:href => 'http://leowilliams.net'}
        %img{:src => '/images/leo.png'}
      .item_content
        %h2
          Leo Williams 
        .padding_top
          %p
            Choosing a photo for this section is really difficult because he is such a fantastic photographer.
    .item
      %a{:href => 'http://pjwculpepper.com'}
        %img{:src => '/images/pjw.png'}
      .item_content
        %h2
          p.j.w.culpepper
        .padding_top
          %p
            Amazing set designer, she deserved a really good portfolio website, I think she got it...
    .clear
  .clear
.two_column
  .left_column
    %h1
      projects
    %p
      open source stuff for fun
  .right_column
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/jQueryBuilder'}
          %h2
            jQuery Builder
        %p
          An attempt to replicate the Builder xml/html markup generation in javascript.
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/jCron'}
          %h2
            jCron
        %p
          Yet another setTimeout plugin, makes it easy to dispatch timed events in the browser
    .item
      .item_content
        %a{:href => 'http://github.com/lamp/paypal_adaptive_gateway'}
          %h2
            Paypal Adaptive
        %p
          ActiveMerchant plugin for the new Paypal adaptive payments api. Easy adaptive payments.
    .item
      %a{:href => 'http://d.ropulo.us'}
        %img{:src => '/images/dropulous.png'}
      .item_content
        %h2
          d.ropulo.us
        %p
          Syncs with the BBC weather,
          %br
          users can get weather forecasts
          %br
          in their calendar client
    .clear
  .clear