!!!
%html
  %head
    ='<link href="http://kernest.com/http-please-state-your-name.css" media="screen" rel="stylesheet" type="text/css" />'
    %style{:type => 'text/css'}
      @import url('style.css');
    %title
      Web Development, Ruby on Rails, PHP and Python. Loads of other stuff too.
  %body
    #wrapper
      #content
        #page
          #head
            #logo
              %a{:href => '/'}
                %img{:src => '/images/hi.png'}
          =yield
      #footer
        #footer_inner
          %p
            Things I like:
            %a{:href => 'http://rubyonrails.org'}<
              RubyonRails
            ,
            %a{:href => 'http://php.net'}<
              php
            ,
            %a{:href => 'http://github.com'}<
              Github
            ,
            %a{:href => 'http://sinatrarb.com'}<
              Sinatra
            ,
            %a{:href => 'http://slicehost.com'}<
              Slicehost
            ,
            %a{:href => 'http://kernest.com'}<
              Kernest
    ='<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src=\'" + gaJsHost + "google-analytics.com/ga.js\' type=\'text/javascript\'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-4241459");pageTracker._trackPageview();} catch(err) {}</script>'
      
  