!!!
%html
  %head
    %style{:type => 'text/css'}
      @import url('style.css');
    %title
      Web Development, Ruby on Rails, PHP and Python. Loads of other stuff too.
  %body
    #wrapper
      #content
        #page
          #head
            #logo
              %a{:href => '/'}
                %img{:src => '/images/hi.png'}
          =yield
      #footer
        #footer_inner
          %p
            Things I like:
            %a{:href => 'http://rubyonrails.org'}<
              RubyonRails
            ,
            %a{:href => 'http://php.net'}<
              php
            ,
            %a{:href => 'http://github.com'}<
              Github
            ,
            %a{:href => 'http://sinatrarb.com'}<
              Sinatra
            ,
            %a{:href => 'http://slicehost.com'}<
              Slicehost
            ,
            %a{:href => 'http://kernest.com'}<
              Kernest
            ,
            %a{:href => 'http://38degrees.org.uk'}
              38Degrees
            ,
            %a{:href => "http://macruby.org"}
              MacRuby
    ="<script type=\"text/javascript\">var gaJsHost = ((\"https:\" == document.location.protocol) ? \"https://ssl.\" : \"http://www.\");document.write(unescape(\"%3Cscript src='\" + gaJsHost + \"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E\"));</script><script type=\"text/javascript\">try {var pageTracker = _gat._getTracker(\"UA-4241459-1\");pageTracker._trackPageview();} catch(err) {}</script>"
    = "<script src="http://assets.goalsforgiving.com/gfg-charity/js/badge.js"></script><script>$(function(){ badge = new Badge({ type : 'widget-ribbon', side : 'widget-right', css_position : 'widget-absolute', charity : 'isgiv' }); })</script>"    
  